#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

            // Base keymap.
        //
            //  Left side                                           Right side (mirrored)
            //  ┌──────┬──────┬──────┬──────┬──────┬──────┐                                         ┌──────┬──────┬──────┬──────┬──────┬──────┐
            //  │  Esc │  1   │  2   │  3   │  4   │  5   │                                         │  6   │  7   │  8   │  9   │  0   │ ß    │
            //  ├──────┼──────┼──────┼──────┼──────┼──────┤                                         ├──────┼──────┼──────┼──────┼──────┼──────┤
            //  │ Caps │  Q   │  W   │  E   │  R   │  T   │                                         │  Z   │  U   │  I   │  O   │  P   │  Ü   │
            //  ├──────┼──────┼──────┼──────┼──────┼──────┤                                         ├──────┼──────┼──────┼──────┼──────┼──────┤
            //  │ Sft  │  A   │  S   │  D   │  F   │  G   │                                         │  H   │  J   │  K   │  L   │  Ö   │  Ä   │
            //  ├──────┼──────┼──────┼──────┼──────┼──────┼──────┬──────┐             ┌──────┬──────┼──────┼──────┼──────┼──────┼──────┼──────┤
            //  │  Y   │  X   │  C   │  V   │  B   │  Up  │ Space│ Down │             │ Left │ SPACE│ RIGHT│  N   │  M   │  ,   │  .   │   -  │
            //  └──────┴──────┴──────┴──────┴──────┴──────┴──────┴──────┘             └──────┴──────┴──────┴──────┴──────┴──────┴──────┴──────┘

        default_layer {
            display-name = "Base";
            bindings = <
                //  ┌──────┬──────┬──────┬──────┬──────┬──────┐                                         ┌──────┬──────┬──────┬──────┬──────┬──────┐
                &kp ESC   &kp N1    &kp N2    &kp N3    &kp N4    &kp N5                                          &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS
                //  ├──────┼──────┼──────┼──────┼──────┼──────┤                                         ├──────┼──────┼──────┼──────┼──────┼──────┤
                &kp CAPS  &kp Q     &kp W     &kp E     &kp R     &kp T                                           &kp Y     &kp U     &kp I     &kp O     &kp P     &kp LBKT
                //  ├──────┼──────┼──────┼──────┼──────┼──────┤                                         ├──────┼──────┼──────┼──────┼──────┼──────┤
                &kp LSHFT &kp A     &kp S     &kp D     &kp F     &kp G                                           &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT
                //  ├──────┼──────┼──────┼──────┼──────┼──────┼──────┬──────┐             ┌──────┬──────┼──────┼──────┼──────┼──────┼──────┼──────┤
                &kp Y     &kp X     &kp C     &kp V     &kp B     &kp UP      &kp SPACE &kp DOWN              &kp LEFT  &kp SPACE &kp RIGHT &kp N     &kp M     &kp COMMA &kp DOT   &kp MINUS
                //  └──────┴──────┴──────┴──────┴──────┴──────┴──────┴──────┘             └──────┴──────┴──────┴──────┴──────┴──────┴──────┴──────┘
            >;
        };
    };
};
