#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &kp ESC &kp 1 &kp 2 &kp 3 &kp 4 &kp 5 &kp 6 &kp 7 &kp 8 &kp 9 &kp 0 &kp 0
                &kp BSPC &kp Q &kp W &kp E &kp R &kp T &kp Z &kp U &kp I &kp P &kp SQT &kp BSPC
                &kp LSHFT &kp A &kp S &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp EQUAL
                &kp Y &kp X &kp C &kp V &kp B &kp N &kp LEFT &kp SPACE &kp RIGHT &kp UP &kp SPACE &kp DOWN &kp N &kp M &kp X &kp X
            >;
        };
    };
};
